footer {
  text-align: center;
  padding: 15px;
  background-color: var(--header-background); 
  color: var(--text-color);
  position: relative; /* Mudamos de sticky para relative para melhor compatibilidade */
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 10px var(--shadow-color); /* Sombra para separar o conteúdo */
  margin-top: 40px;
}