/* Estilos Globais e Variáveis do Tema */
:root {
    --background-color: #282c34; /* Novo cinza escuro */
    --text-color: #e0e0e0; /* Cinza claro para o texto */
    --primary-color: #61dafb; /* Azul claro para destaque */
    --secondary-color: #4a505b;
    --card-background: #3c4048; /* Cinza um pouco mais claro para os cards */
    --shadow-color: rgba(0, 0, 0, 0.4);
    --border-color: #555;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #f4f4f4;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --card-background: #1e1e1e;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --border-color: #444;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}