.skills {
    padding: 20px 0;
}

.skills h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    background: var(--card-background);
    color: var(--text-color);
    padding: 10px;
    border-left: 5px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: background-color 0.3s ease;
}

.skills li:hover {
  background-color: var(--border-color);
}